{% extends 'base.html' %}
{% block content %}
{% for image in images %}
 <div class="well image">
     <h5>
       {{ image.filename }} (<abbr title="{{ image.md5sum }}">md5</abbr>)
     </h5>

     <div class="imgholder">
       <a href="/{{ image.filename }}" class="imglink">
           <img src="/thumbs/{{ image.filename }}" alt="{{ image.filename }}" />
       </a>
     </div>

     <ul class="unstyled">
       <li>orig: {{ image.orig_filename }}</li>
       <li>user: {{ image.uploader.username }}</li>
       <li>url: <input type="text" value="http://i.d0nk.us/{{image.filename}}" class="input-small" /></li>
       <li><a href="http://api.imgur.com/2/upload?url=http://i.d0nk.us/{{image.filename}}">Imgur Mirror</a></li>
     </ul>
 </div>
{% endfor %}

<p>Images: {{ images|length }}</p>

<script>
    $("a.imglink").colorbox();
</script>
{% endblock %}

