{% extends 'base.html' %}
{% block content %}
{% for image in images %}
 <div class="well image">
     <h5>
       {{ image.filename }} (<abbr title="{{ image.md5sum }}">md5</abbr>)
     </h5>

     <div class="imgholder">
       <a href="{{ settings.MEDIA_URL }}{{ image.filename }}" class="imglink">
         <img src="{{ settings.MEDIA_URL }}thumbs/{{ image.filename }}" alt="{{ image.filename }}" />
       </a>
     </div>

     <ul class="unstyled">
       <li>orig: {{ image.orig_filename }}</li>
       <li>user: {{ image.uploader.username }}</li>
       <li>url: <input type="text" value="{{ settings.MEDIA_URL }}{{image.filename}}" class="input-small" /></li>
       <li><a href="http://api.imgur.com/2/upload?url={{ settings.MEDIA_URL }}{{image.filename}}">Imgur Mirror</a></li>
     </ul>
 </div>
{% endfor %}

<p>Images: {{ images|length }}</p>

<script>
    $("a.imglink").colorbox();
</script>
{% endblock %}

