{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<form method="post" action="/upload" enctype="multipart/form-data">
{% csrf_token %}

<div class="well">
  <div class="row">
    <div class="span8 offset4">
      <h2 style="text-align:center;">Upload Image</h2>
    </div>
  </div>

  <div class="row">
    <div class="span8 offset4" style="text-align:center;">
      <input type="file" name="upload_file" />
      <div style="display:none;"><input type="text" name="upload_url" value="{{url}}" size="64" /></div>
      <br />
      <input type="submit" value="Upload" class="btn primary" />
      <br />
    </div>
  </div>

  <div class="row">
    <div class="span8 offset4" style="text-align:center;">
      <input type="radio" name="upload_type" value="file" id="upload_type_file" checked="yes" /> <span>File</span> | 
      <input type="radio" name="upload_type" value="url" id="upload_type_url"/> <span>URL</span>
    </div>
  </div>

</div>

</form>

{% else %}
<p>Please <a href="/login">Login</a>.</p>
{% endif %}

</div>

{% endblock %}

