div.image {
    display: inline-block;
    vertical-align: bottom;
}

div.image h5 {
  text-align: center;
}

div.image:hover {
    background: #eee;
    border: 1px solid #ccc;
}

div.image a.imglink img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

